@import "md";

.main {
  margin-top: 1.767rem;

  .article {
    position: relative;
    max-width: 100%;
    box-sizing: border-box;
    margin-bottom: 1.5rem;
    background-color: var(--article--item);
    width: calc(100% - 26.67rem);

    article {
      border-radius: 4px 4px 0 0;
      padding-top: 2.667rem;
      z-index: 1;
      //background-color: #fff;
      padding-left: 2.67rem;
      padding-right: 2.67rem;
      box-sizing: border-box;

      #title {
        margin: 0 0 1.667rem;
        font-size: 2.667rem;
        font-weight: 600;
        line-height: 1.31;
        color: var(--juejin-font-1);
      }

      .authorInfo {
        display: flex;
        align-items: center;
        margin-bottom: 1.667rem;
        cursor: pointer;

        .authorAvatar {
          font-size: 0;
          flex: 0 0 auto;

          .avatar {
            margin-right: 1rem;
            width: 3.333rem;
            height: 3.333rem;
            border-radius: 50%;
          }
        }

        .authorInfoBox {
          min-width: 0;
          flex: 1;
          min-height: 43px;

          .authorName {
            height: 2rem;
            display: flex;
            align-items: center;
            font-size: 1.333rem;
            font-weight: 500;
            color: var(--juejin-font-2);
            line-height: 2rem;

            .name {
              display: inline-block;
              vertical-align: top;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            .rank {
              display: inline-flex;
              align-items: center;
              margin-left: 0.33rem;
              vertical-align: middle;

              img {
                width: 35px;
                height: 16px
              }
            }
          }

          .metaBox {
            font-size: 1.167rem;
            color: #8a919f;
            margin-top: 2px;
            line-height: 22px;

            .time {
              letter-spacing: 1px;
            }
          }
        }
      }

      .cover {
        width: 100%;
      }

      .content {
        word-break: break-word;
        line-height: 1.7;
        font-weight: 400;
        font-size: 16px;
        color: var(--md-h-color);
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
        -webkit-font-smoothing: antialiased;
        overflow: hidden;
      }

      .markdownBody {
        word-break: break-word;
        line-height: 1.7;
        font-weight: 400;
        font-size: 16px;
        overflow-x: hidden;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
  }

  .sideBar {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 25rem;

    .author {
      border-radius: 4px;
      background: var(--article--item);
      padding: 1.667rem;
      margin-bottom: 20px;

      .itemInfo {
        padding-bottom: 1.416rem;
        display: flex;
        align-items: center;

        .avatar {
          flex: 0 0 auto;
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
          display: inline-block;
          position: relative;
          background-position: 50%;
          background-size: cover;
          background-repeat: no-repeat;
        }

        .userInfo {
          flex: 1 1 auto;
          min-width: 0;
          margin-left: 1.333rem;

          .username {
            display: flex;
            align-items: center;
            font-size: 1.333rem;
            font-weight: 500;
            line-height: 2rem;
            //color: #252933;
            color: var(--article--title);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            .name {
              display: inline-block;
              vertical-align: top;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            .rank {
              display: flex;
              align-items: center;
              margin-left: 0.33rem;
              vertical-align: middle;

              .rankImg {
                width: 35px;
                height: 16px;
              }
            }
          }

          .position {
            font-size: 1.167rem;
            //color: #252933;
            color: var(--juejin-font-2);
            font-weight: 400;
            margin-top: 5px;
          }
        }
      }
    }

    .block {
      margin-bottom: 20px;
      background: var(--article--item);
      box-shadow: none;
      border-radius: 4px;
      cursor: pointer;

      .blockTitle {
        padding: 1.333rem 0;
        margin: 0 1.667rem;
        font-size: 16px;
        line-height: 2rem;
        //color: #1d2129;
        color: var(--article--title);
        font-weight: 500;
        border-bottom: 1px solid #e4e6eb;
      }

      .catalogBody {
        max-height: 612px;
        margin: 8px 4px 0 0;
        overflow: auto;
        position: relative;

        .catalogList {
          position: relative;
          line-height: 22px;
          padding: 0 0 12px;

          .item:hover {
            .aTag {
              background-color: var(--catalog--hover);
              border-radius: 4px;
            }
          }

          .item {
            margin: 0;
            padding: 0;
            font-size: 1.167rem;
            font-weight: 400;
            line-height: 22px;
            color: var(--juejin-font-2);
            list-style: none;

            .contain {
              margin: 0;
              padding: 0 0 0 11px;
              display: block;
              position: relative;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;

              .aTag {
                color: inherit;
                display: inline-block;
                padding: 8px;
                width: 90%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }

            .active {
              color: #1e80ff;
            }

            .active::before {
              content: "";
              position: absolute;
              top: 4px;
              left: 0;
              margin-top: 7px;
              width: 4px;
              height: 16px;
              background: #1e80ff;
              border-radius: 0 4px 4px 0;
            }

          }
        }
      }
    }

    .catalog {
      position: -webkit-sticky;
      position: sticky;
      top: 1rem;
    }

    .entryList {
      padding: 0.667rem 0 1.333rem;
    }
  }

  @media screen and (max-width: 1000px) {
    .article {
      width: 100%;
    }
  }
  @media screen and (min-width: 1000px) {
    .sideBar {
      display: inline-block;
    }
  }
}


