.aside{
  display: none;
  margin-left: 20px;
}
.bannerBlock {
  background: var(--article--item);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
  border-radius: 2px;
  margin-bottom: 1.3rem;
  font-size: 1.16rem;
  line-height: 1.29;
  color: var(--content--color);
  overflow: hidden;
}

.banner {
  height: 200px;
  position: relative;
  font-size: 0;
  cursor: pointer;

  a {
    text-decoration: none;
    cursor: pointer;
    color: #909090;
    margin: initial;
    background-color: transparent;
  }

  .ctrlBox {
    .ionClose {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      font-size: 1rem;
      color: #909090;
      opacity: .5;
      display: none;
    }

    .ionClose:hover {
      opacity: 1;
    }

    a {
      position: absolute;
      right: 10px;
      bottom: 10px;
      line-height: 36px;
      height: 36px;
      font-size: 20px;
      z-index: 1;
      transform: scale(.5);
      -webkit-transform: scale(.5);
      transform-origin: right bottom;
      -webkit-transform-origin: right bottom;
      color: #fff;
      background-color: rgba(0, 0, 0, .2);
      border: 1px solid #fff;
      border-radius: 6px;
      padding-left: 15px;
      padding-right: 15px;
      font-weight: 300;

      .icon {
        display: none;
      }
    }

    a:hover {
      background-color: rgba(0, 0, 0, .4);

      .icon {
        display: inline-block;
      }
    }
  }
}

.banner:hover {
  .ionClose {
    display: block;
  }

  .ionClose::before {
    content: "X";
  }

}

.appDownload {
  display: flex;
  align-items: center;
  padding: 1rem;

  .qrImg {
    margin-right: 16px;
    width: 4.167rem;
    height: 4.167rem
  }

  .contentBox {

    .headLine {
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      color: var(--download-title);
    }

    .desc {
      margin-top: 0.5rem;
      font-size: 12px;
      line-height: 20px;
      color: #86909c;
    }
  }
}

.authorRank {

  header {
    padding: 1rem 1.3rem;
    border-bottom: 1px solid hsla(0, 0%, 59.2%, .1);
  }

  .userList {
    .item:hover {
      //background-color: hsla(0, 0%, 84.7%, .1);
      background-color: var(--article--hover);
    }

    .item {
      .itemInfo {
        padding: 1rem 1.3rem;
        display: flex;
        align-items: center;
        cursor: pointer;

        .avatar {
          flex: 0 0 auto;
          width: 3.8rem;
          height: 3.8rem;
          border-radius: 50%;
          margin-right: 0.5rem;
        }

        .userInfo {
          overflow: hidden;

          .username {
            font-size: 1.16rem;
            font-weight: 400;
            color: var(--content--color);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 3px;
            display: flex;
            align-items: center;
            text-decoration: none;
            cursor: pointer;

            .name {
              display: inline-block;
              vertical-align: top;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            .rank {
              display: inline-flex;
              align-items: center;
              margin-left: 0.33rem;
              vertical-align: middle;

              .rankImg {
                width: 35px;
                height: 16px;
              }
            }
          }

          .position {
            color: #909090;
            font-size: 1rem;
            margin-bottom: 3px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }

    a {
      text-decoration: none;
      cursor: pointer;
      color: #007fff;

      .more {
        padding: 1rem 0;
        text-align: center;
        border-top: 1px solid hsla(0, 0%, 59.2%, .1);

        .i {
          margin-left: 5px;
        }

        .i::before {
          content: '>';
        }
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .aside {
    display: block;
  }
}